<%= simple_form_for(@company) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
  </div>

  <div class="actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
