<h1>Listing sells</h1>

<table>
  <tr>
    <th>User</th>
    <th>Value</th>
    <th>Payment options</th>
  </tr>

<% @sells.each do |sell| %>
  <tr>
    <td><%= sell.user.name %></td>
		<% total_value = 0 %>
		<% sell.item_solds.each do |p| %>
    	<% total_value += (p.value*p.quantity) %>
		<% end %>
		<td><%= total_value %></td>
    <td><%= sell.payment_options %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sell', new_sell_path %>
